html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  border: none;
  margin: 0;
}

.container-fluid {
  padding: 0 !important;
}

.view-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}